node_modules/**/*
.expo/*
.expo-shared/*
assets/*
.git/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
components/GList.js
components/GListItem.js
views/Global.js
views/Testi.js
views/Testi2.js
app.json
babel.config.js
package-lock.json
package.json
yarn-error.log
.watchmanconfig